---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
            <!--ads-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- BatzBanner -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9844185046740962"
                     data-ad-slot="4753099890"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            <!--ad ends-->
    
    
    <div class="article-post">
    {{content}}
    </div>

    
                <!--ads-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- BatzBanner -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9844185046740962"
                     data-ad-slot="4753099890"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            <!--ad ends-->
    
    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
